@using SmartPOS.Entity.EntityModels
@using SmartPOS.App.Models
@model SmartPOS.App.Models.UserVm
@{
    //Layout = "~/Views/Shared/_Master.cshtml";
}
<style>
    div.container3 {
        height: 10em;
        position: relative }              /* 1 */
    div.container3 p {
        margin: 0;
        color: black;
        font-size: large;
        position: absolute;               /* 2 */
        top: 50%;                         /* 3 */
        transform: translate(0, -50%) }   /* 4 */

    
    
</style>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<div class=container3>
    <p>Login To Continue
</div>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/style.css" rel="stylesheet" />
<p>
    <img style="float: right;" src="~/Content/Logo/Space Logo.png"  />
</p>    
@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal form-material" }))

{
    @Html.ValidationSummary(true, "Login failed. Check your login details.")
    
    <div class="card">
        <div class="card-block">
            <fieldset>
                <div class="form-group">
                    @Html.LabelFor(m => m.UserName, new {@class = "col-md-12"})
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.UserName, new {@class = "form-control form-control-line"})
                        @Html.ValidationMessageFor(u => u.UserName)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new {@class = "col-md-12"})
                    <div class="col-md-12">
                        @Html.PasswordFor(m => m.Password, new {@class = "form-control form-control-line"})
                        @Html.ValidationMessageFor(u => u.Password)
                    </div>
                </div>
                <div class="form-group">
                    @Html.CheckBoxFor(u => u.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
                <input type="submit" class="btn btn-success" value="Log In"/>
            </fieldset>
          

        </div>
    </div>
}
   
@section scripts{
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
}